<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Amigula.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Amigula.Properties.Settings.AmigulaDBConnectionString" connectionString="Data Source=|DataDirectory|\AmigulaDB.sdf" providerName="Microsoft.SqlServerCe.Client.4.0" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <Amigula.Properties.Settings>
      <setting name="LibraryPath" serializeAs="String">
        <value />
      </setting>
      <setting name="EmulatorPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ScreenshotsPath" serializeAs="String">
        <value />
      </setting>
      <setting name="MusicPlayerPath" serializeAs="String">
        <value />
      </setting>
      <setting name="MusicPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowTitlesOption" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowSetting" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UAEConfigsPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowLongplayVideos" serializeAs="String">
        <value>True</value>
      </setting>
    </Amigula.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.67.0" newVersion="1.11.67.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.PlatformServices" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Providers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Windows.Forms" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Windows.Threading" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>